@import "../../node_modules/material-ui-sass/material-ui";

$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "../../node_modules/materialize-css/sass/components/prefixer";
@import "../../node_modules/materialize-css/sass/components/mixins";
@import "../../node_modules/materialize-css/sass/components/color";
@import "../../node_modules/materialize-css/sass/components/variables";
@import "../../node_modules/materialize-css/sass/components/normalize";
@import "../../node_modules/materialize-css/sass/components/global";
@import "../../node_modules/materialize-css/sass/components/icons-material-design";
@import "../../node_modules/materialize-css/sass/components/roboto";
@import "../../node_modules/materialize-css/sass/components/typography";
@import "../../node_modules/materialize-css/sass/components/cards";

body {
    background-color: #f4f4f4;
}


#app {
    @extend .container-fluid;
}

.app-container {
    @extend .row;
    margin-top: 40px;
}

.column {
    .mui-paper {
        background-color: white;
    }
}

.hero-vs-button-wrapper {
    .mui-paper {
        height: 90px;
    }
}

.hero-buttons-nav {
    width: 100%;
    position: relative;
    top: -20px;

    .mui-raised-button:last-child {
        margin-left: 5px;
    }
}

.hero-vs-button {
    text-align: center;
    font-family: 'Bangers', cursive;
    @extend .mui-font-style-display-1;
    font-size: 125px;
    color: $red-500;
    text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
    width: 100%;
    position: relative;
    top: -20px;
}

.hero-vs-button:hover {
    color: $red-900;
    cursor: pointer;
}

.hero-image {
    @extend .img-circle;
    max-width: 50%;
}

.hero-top-bar {
    background-color: $blue-500;
    height: 64px;

    h1 {
        color: $blue-50;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
        width: 100%;
        text-overflow: ellipsis;
    }

    .mui-text-field {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    input.mui-text-field-input {
        @extend .mui-font-style-display-1;
        color: $blue-50;
        height: 100%;
        width: 100%;
    }
}

.full-width {
    width: 100%;
    min-height: 1em;
}

.hero-dropdown-menu-wrapper {
    width: 100%;
    position: relative;
}

.hero-dropdown-menu {
    z-index: 10;
    position: absolute;
    overflow-y: scroll;
    max-height: 500px;
    width: 100%;
    margin-top: 15px;
    background-color: white;

    .mui-flat-button {
        width: 100%;
        border-radius: 0px;

        img {
            height: 64px;
            width: auto;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            float: left;
        }

        .hero-entry-text {
            display: inline-block;
            overflow: hidden;
            float: right;
            width: 65%;
            width: 75%;
            margin-left: 10px;
            margin-right: 10px;
        }

        h5 {
            display: inline-block;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
            line-height: 84px;
            color: $grey-500;
        }
    }
}

.hero-data-image {
    width: 100%;
    margin-top: 0px;
}
